/* CSS reset portion of file  */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* End CSS reset */

.container {
  width: 600px;
  height: 800px;
  margin: 50px auto;
  border: 1px solid red;
}

.screen {
  width: 600px;
  height: 200px;

  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen div {
  background: rgb(222, 222, 230);
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.keypad {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  padding: 15px;
  border: 1px solid red;
  font-size: 32px;
}

.keypad div {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
