/* CSS reset portion of file  */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* End CSS reset */

.container {
  width: 50%;

  margin: 3.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen {
  width: 100%;
  height: 30%;
  min-width: 250px;
  max-width: 375px;
  background: rgb(234, 236, 236);

  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.screen div {
  background: rgb(222, 222, 230);
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  padding-right: 0.25rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.keypad {
  width: 100%;
  min-width: 250px;
  max-width: 375px;
  height: 80%;
  background: rgb(234, 236, 236);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;

  font-size: 2rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.keypad div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px #163772 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 4px 0 0#333797, 0 4px 0 1px rgba(0, 0, 0, 0.4),
    0 4px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.keypad div:active {
  transform: scale(0.9);
}

.keypad .number {
  background: rgb(0, 128, 255);
}

.keypad .operator {
  background: rgb(0, 128, 255);
}

#equal {
  background: orange;
}

#clr {
  background: red;
}

#decimal {
  background: rgb(0, 128, 255);
}

@media screen and (max-width: 400px) {
  body {
    overflow: hidden;
  }
  .container {
    margin-top: 0;
    width: 100vw;
    height: 100vh;
  }
}
